     <body onLoad="closeME();">	      
 <script type="text/javascript">
        function closeME() {
     
//this function for refresin now i commented
      parent.location.reload(true);

            parent.$.fancybox.close();


         return false;
        
        }
    </script>
</body>
   
