<div class="content">

            <h2>Sorry! there are no meals to show under this cuisine </h2>
            <p>to get meals of your choice set your preference!</p>
            <p class="showmore"><a href="#" class="icons">Show more details</a></p>
</div>

