<div class="invitation">
  <div class="content">

    <h2 id="mob_header">Download the iWannaEat.com app</h2>
    <div class="mobapp_bg">
      <h4>Get daily meals on the go</h4>
      <ul>
        <li>Lorem ipsum dolor set amit text</li>
        <li>Lorem ipsum dolor set amit text</li>
        <li>Lorem ipsum dolor set amit text</li>
      </ul>

    </div>
    <ul class="download_app group">
      <li>
        <img src="images/iphone.jpg" />
        <div class="entity">
          <p>iphone</p>
          <a href="#">Download</a>
        </div>
      </li>

      <li>
        <img src="images/ipad.jpg"  />
        <div class="entity">
          <p>iphone</p>
          <span>coming soon</span>
        </div>
      </li>

      <li>
        <img src="images/android.jpg"  />
        <div class="entity">
          <p>iphone</p>
          <span>coming soon</span>
        </div>
      </li>

    </ul><!-- download app ends-->

  </div><!-- content ends-->
</div><!-- invitation ends-->

