
<% content_for(:head) do %>
<style type="text/css">
.image { width: 437px; height: 354px }
</style>
<% end %>




<div id="plugins" class="stick stick_pg_spacing stick_bg">
        <div class="content">
         <div id="fb-root"></div>
           
         </div>

     </div><!-- plugin ends -->

      <div class="todays-deals stick ">
         <div class="content stick_bg">
            <p class="caption">To get the food you want</p>
            <div class="group">

               <!--<h2>Todays deals in Jumeriah <span id="changelocation"><a href="profile.html" class="icons" >change location</a></span></h2>
                <span id="setcusine"><a href="profile.html">Set Cuisine preferences</a></span> -->


              <h2>Todays deals in <% %>
               <span id="changelocation"><a href="/set_preferences" id="setlocation"  class="icons">change location</a></span> </h2>
               <span id="setcusine"><a href="/set_preferences">Set Cuisine preferens</a></span>
             


             <!--<h2 class="icons">Todays deals in <%#= @cluster.name %>
             <span id="changelocation"><a href="#" id="setlocation" class="icons">change location</a></span>
             <span id="setcusine"><a href="#">Set Cuisine preferences</a></span>
             </h2> -->


            </div>
        </div>
      </div><!-- todays deals sticky header ends-->




    <div class="todays-deals">
         <div class="content">
            <%  offers =  @all_meal_info1 %>

           <ul class="group">
            <% i = 0 -%>
            <% (0..2).each do  -%>
              <%= render(:partial => "front_page", :locals => { :meal => offers[i], :left => true}) -%>
              <%= render(:partial => "front_page", :locals => { :meal => offers[i+1], :left => false}) -%>
              <% i += 2-%>
            <% end -%>

            </ul> 
           
            <p class="back_link" style="display:none;" ><a href="#" class="back-icons"></a></p>
            <p class="showmore" style="display:block;" ><a href="#" class="icons">Show more meals</a></p>
                </div>
                <%= will_paginate @all_meal_info1 %>
         

  </div> 

    <div id="popup_holder">

    </div><!-- popup holder ends -->


      <div id="form">
          <img src="/images/texture-logo.jpg" />
            <p>Eat what you feel like, Hassle Free!</p>

        <div class="location">
          <p>Choose a Location</p>
          <div class="arrow"></div>
          <ul class="group">
          <%# @clusters.each do |cluster| %>
            <li><a href="#" onclick="setgeo(<%#= cluster.id %>)"><%#= cluster.name %></a><li>
          <%# end %>
          </ul>
          <div>
            <%# if @city %>
            We're showing active clusters from <%#= "#{@city.city_name}, #{@city.country_name}" %>,
            if you're not in <%#= @city.city_name %>, please <a href="#">contact us</a>.
            <% #else %>
              We can't determine where you are accessing us from.
            <%# end %>
          </div>
        </div>

           <!-- <form class="group" id="loginform">
              <label>Email:</label><input type="text" ><br />
                <div class="clear"></div>
                <label>Password:</label><input type="password" ><br />
                <div class="clear"></div>
                <button>Login & Purchase</button>
            </form>

             <form class="group" id="signupform">
              <label>Email:</label><input type="text" ><br />
                <div class="clear"></div>
                <label>Password:</label><input type="password" ><br />
                <div class="clear"></div>
                <label>Confirm Password:</label><input type="password" ><br />
                <div class="clear"></div>

                 <label>Street:</label><input type="text" ><br />
                <div class="clear"></div>
                <label>ZIP:</label><input type="text" ><br />
                <div class="clear"></div>
                <label>Phone Number:</label><input type="text" ><br />
                <div class="clear"></div>
                <button id="signup">Sign up</button>

            </form> -->

        </div><!--form ends-->



