   <% if @user.nil?%>

    $("#show_msg").empty();
    $("#show_msg").html("<%= escape_javascript("<span>User not exist</span>".html_safe) %>");


  <% else %>
    $("#show_msg").empty();
    $("#show_msg").html("<%= escape_javascript("<span>#{@msg}</span>".html_safe) %>");

  <% end %>