<div class="content">

            <%#*<h2>Sorry, that deal was not found</h2>%>
            <%#*<p>%>
              <%#*You must've clicked an old hyperlink%>
            <%#*</p>%>

            <p class="showmore"><a href="#" class="icons">Show more details</a></p>
</div>

