<div class="mypoints">
    	<div class="content">
        	<h2>My Points</h2>

             <div class="pointdetails group">
                	 <div>
                    	<p><b>Points away from a free meal!</b></p>
                        <p class="points">24</p>

                    </div>
             </div>

             <div class="outoff">
             		<div class="score"></div>
             </div>

             <h3>3 Easy ways to get more meal points</h3>
             <div class="earnpoints group">
             	<p>Invite friends to join</p>
                <p>Provide Feedback</p>
                <p  class="last">Order more Food</p>
             </div>

             <div class="earnpoints group">
             	<ul>
                    <li class="last"><a href="#" class="inv"></a></li>
                </ul>

                <ul>
                	<li class="last"><a href="#" class="feedback"></a></li>

                </ul>

                <ul class="last">
                	 <li class="last"><a href="/" class="morefood"></a></li>
                </ul>
             </div>




        </div>
    </div><!-- my pointsends -->




    <div id="popup_holder">

    </div><!-- popup holder ends -->


    	<div id="form">
        	<div class="holder">
            	<div class="close"></div>
                	<div class="mealsholder">
                      <div class="mealdetails group">
                        <p class="mealname">Sliders for Game Day: Brisket Short Rib and Classic</p>
                         <div class="buy cost group">
                            <div class="box">
                                <p></p>
                                <p>AED 10</p>
                            </div>

                            <div class="box">
                                <p class="label">Quantity</p>
                                <select><option>2</option></select>
                            </div>

                            <div class="box">
                                <p class="label">Total</p>
                                <p>AED 20</p>
                            </div>
                        </div><!-- buy cost ends-->
                    </div>
                  </div><!--meals holder ends-->

                  <div class="memberpoint">
                  	<div class="earned">
                    	<p>You've earned</p>
                        <p class="pointsearned">50</p>
                        <p>Points with this meal</p>
                        <p class="msg">Sign up to place your order</p>
                    </div>
                    <p>Already a Member? <b id="log"><a href="#">Login</a></b></p>
                  </div>

                  <p class="yo">Your order</p>





                <form class="group" id="loginform">
                    <label>Login</label>
                    <div class="clear"></div>
                    <input type="text" value="email" rel="email"><br />
                    <div class="clear"></div>
                    <input type="password" value="password" rel="password"><br />
                    <div class="clear"></div>
                    <button class="login">Login</button><b class="toggle"><a href="#" id="forgotpassword">forgot password</a></b>

                    <div class="forgotpasswordbox">
                        <p class="notify">Please enter your email address below. We will send you an email to confirm your password.</p>
                        <label>Email</label>
                        <div class="clear"></div>
                        <input type="text" value="email" rel="email"><br />
                        <button id="submit">Submit</button>
					</div>
                </form>

                 <form class="group" id="signupform">
                 <p>New user?</p>
                   <label>Email:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <label>Password:</label><input type="password" ><br />
                    <div class="clear"></div>
                    <label>Confirm Password:</label><input type="password" ><br />
                    <div class="clear"></div>
                     <label>Street:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <label>ZIP:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <label>Phone Number:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <button id="signup">Sign up</button>
                </form>


                <div class="share" id="share1">
                	<ul class="group">
                    	<li class="act fb_share"></li>
                        <li class="tw_share"></li>
                        <li class="g_share"></li>
                        <li class="e_share">Email</li>
                    </ul>
                    <div class="data group">
                    	<div class="selfdata">
                            <input type="text" placeholder="Your email address" />
                            <div class="clear"></div>
                            <input type="text" placeholder="Your name" />
                        </div>
                        <textarea placeholder="enter emails comma separated"></textarea>
                        <div class="clear group">
                        	<span class="msg">invitation sent</span><a href="#" class="save">Send</a>
                        </div>
                    </div>
                </div><!-- share ends-->

                <div class="share" id="share2">
                	<h3>Give feedback and earn points</h3>
                    <div class="data">
                    	<label>Your previous orders:</label><select><option>American cheddah cheese (June 1st 2011)</option></select>
                        <p>(orders are unrated)</p>
                	</div>
                    <table>
                    	<thead>
                        	<tr>
                            	<th>Please check</th>
                                <th>Excellent</th>
                                <th>Good</th>
                                <th>Fair</th>
                                <th>Bad</th>
                            </tr>
                        </thead>

                        <tbody>
                        	<tr>
                            	<td>Service</td>
                                <td><input type="radio"  name="service" /></td>
                                <td><input type="radio"  name="service" /></td>
                                <td><input type="radio"  name="service" /></td>
                                <td><input type="radio"  name="service" /></td>
                            </tr>

                            <tr>
                            	<td>Food</td>
                                <td><input type="radio" name="food" /></td>
                                <td><input type="radio" name="food" /></td>
                                <td><input type="radio" name="food" /></td>
                                <td><input type="radio" name="food" /></td>
                            </tr>

                            <tr>
                            	<td>Delivery</td>
                                <td><input type="radio" name="delivery"/></td>
                                <td><input type="radio" name="delivery" /></td>
                                <td><input type="radio" name="delivery"  /></td>
                                <td><input type="radio" name="delivery"  /></td>
                            </tr>

                            <tr>
                            	<td>Valu for money</td>
                                <td><input type="radio"  name="valueformoney" /></td>
                                <td><input type="radio"  name="valueformoney" /></td>
                                <td><input type="radio"  name="valueformoney" /></td>
                                <td><input type="radio"  name="valueformoney" /></td>
                            </tr>
                        </tbody>
                    </table>
                   <textarea placeholder="comments"></textarea>
                   <div class="clear group">
                        	<span class="msg">Feedback sent</span><a href="#" class="save">Send</a>
                   </div>
                </div><!-- share ends-->





            </div><!-- holder ends -->

        </div><!--form ends-->






  		<div class="pusher"></div>