 <div class="content">
    	<div class="careers">
        	<form class="group">
         		   <label>Name</label>
                    <input type="text" value="email" rel="name"><br />
                    <div class="clear"></div>
                    <label>Email</label>
                    <input type="text" value="text" rel="email"><br />
                    <div class="clear"></div>
                    <label>Attach</label>
                    	<div class="file"><input type="file" value="text" class="browse" ></div>
                    <div class="clear"></div>

                    <button class="login">Submit</button>
             </form>



        </div><!--careers ends-->

    </div>