<div class="invitation">
  <div class="content">

    <h2>Invite Friends</h2>

    <div class="group pack">
      <div class="half_box part">
        <p>Invite Friends and get Free meals</p>
        <div class="outoff"><div class="score"></div></div>
        <div class="group">

                        <span>
                            <div class="earned">
                              <p>You've earned</p>
                              <p class="pointsearned">50</p>

                            </div>
                        </span>

                        <span class="right">
                            <div class="earned">
                              <p>Points needed</p>
                              <p class="pointsearned">10</p>

                            </div>
                        </span>
        </div>

      </div>

      <div class="half_box">
        <p>Your Special invite Link</p>
        <div class="notify">Copy paste the URL below into Twitter, Facebook or in an Email</div>

        <div class="group">
          <input type="text" id="specialurl" value="http://www.iwannaeat.com/invite345">
          <div class="right">
            <label>Share</label>
            <a class="fbshare" href="#"></a>
            <a class="twshare" href="#"></a>
          </div>
        </div>
        <p>1 people have joined from your special invite link.</p>
        <div class="notify tip">Tip: Share your invite link on Twitter &amp; Facebook to earn even more credits.</div>

      </div>
    </div>


    <div class="inviteppl">
      <p>Invite mopre people</p>
      <ul class="group mail">
        <li>Email</li>
        <li class="bd active">Gmail</li>
        <li>Facebook</li>
      </ul>

      <ul class="mailgroup">
        <li class="group">
          <div class="notify">Add friends email addresses </div>
          <input type="text" rel="Enter email addresses separated by commas" value="Enter email addresses separated by commas">
          <a href="#">Send Invite(s)</a>
        </li>
      </ul>
      <div class="joined">Invited via Email: 1 Joined: 1</div>
    </div><!-- inviteppl ends-->

    <table id="invitee_info">
      <thead>
      <tr>
        <th>name</th>
        <th>email</th>
        <th>last invited</th>
        <th>status</th>
        <th>action</th>

      </tr>
      </thead>

      <tbody>

      <tr>
        <td>Sudeep</td>
        <td>sudeep@gmail.com</td>
        <td>01/03/2012</td>
        <td class="join">joined</td>
        <td><a href="#">resend</a></td>

      </tr>

      <tr>
        <td>Sudeep</td>
        <td>sudeep@gmail.com</td>
        <td>01/03/2012</td>
        <td class="join">joined</td>
        <td><a href="#">resend</a></td>


      </tr>

      </tbody>
    </table>
  </div>


</div>

<div class="pusher"></div>