<div class="mypoints">
  <div class="content">
    <h2>My Points</h2>

    <div class="pointdetails group">
      <div>
        <p><b>Points away from a free meal!</b></p>
        <p class="points">24</p>

      </div>
    </div>

    <div class="outoff">
      <div class="score"></div>
    </div>

    <h3>3 Easy ways to get more meal points</h3>
    <div class="earnpoints group">
      <p>Invite friends to join</p>
      <p>Provide Feedback</p>
      <p  class="last">Order more Food</p>
    </div>

    <div class="earnpoints group">
      <ul>
        <li class="last"><a href="#" class="inv"></a></li>
      </ul>

      <ul>
        <li class="last"><a href="#" class="feedback"></a></li>

      </ul>

      <ul class="last">
        <li class="last"><a href="todaysdeal.html" class="morefood"></a></li>
      </ul>
    </div>




  </div>
</div><!-- my pointsends -->




<div id="popup_holder">