<div class="content">
  <div class="orderdetailsbox">
    <div id="detailcaption" class="group">
      <h2>Order Details</h2>
      <p class="time">Time remaining <span>2:24</span></p>
      <div class="clear"></div>
      <div class="mealdetails group">
        <p class="mealname">Sliders for Game Day: Brisket Short Rib and Classic</p>
        <div class="buy cost group">
          <div class="box">
            <p></p>
            <!--<p>AED <span class="per">10</span></p>-->
          </div>

          <div class="box">
            <!--<p class="label">Quantity</p>
        <select class="quan"><option>1</option> <option>2</option> <option>3</option> <option>4</option></select>-->
          </div>

          <div class="box">
            <p class="label">Total</p>
            <p>AED <span class="owe">20</span></p>
          </div>
        </div><!-- buy cost ends-->
      </div><!-- mealdetails ends -->
    </div><!-- detailcaption ends-->
    <!--<p class="idno">Your uniqe Order id is <b>445645</b></p>-->

    <div class="payment">

      <div class="group inr">
        <div class="orderdetails">
          <h3>Payment Details</h3>
          <form action="/success">
            <div class="group">
              <div class="option"><input type="radio" name="cc" value="Credit Card" class="radio cc" checked="checked"/> <span class="cc" value="Credit Card">Credit Card</span></div>
              <div class="option"><input type="radio" name="cod" value="Cash on Delivery" class="radio cod"/><span class="cod" value="Credit Card"> Cash on Delivery</span></div>
              <div class="option"><input type="radio" name="rp" value="Redeem Points" class="radio rp"/><span class="rp" value="Credit Card"> Redeem Points</span></div>
            </div>
            <div class="carddetails">
              <label>Name on Card:</label><input type="text">
              <div class="clear"></div>
              <label>Card Type:</label><select class="cardtype"><option>Master Card</option><option>Visa</option></select>
              <div class="clear"></div>
              <label>Card Number:</label><input type="text">
              <div class="clear"></div>

              <div class="group validfrom">
                <label>Valid to:</label><select class="date"><option>2014</option></select>  <select class="date"><option>December</option></select><select class="date"><option>28</option></select>
              </div>
              <div class="clear"></div>
              <label>CVV</label><input type="text"  class="cvv"/>
              <a href="success"><button>Place Order</button></a>

            </div>


            <div class="pointdetails group">
              <div>
                <p>You Currently have</p>
                <p class="points">24</p>

                <p>points</p>
              </div>

              <div>
                <p>This meal is</p>
                <p class="points">35</p>

                <p>points</p>
              </div>

              <button>Redeem & Purchase</button>

            </div><!-- pointdetails ends -->
            <div class="cashdetails">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore</p>
              <label>Verification code</label>
              <input type="text"><span class="verifycode">(<a href="#">send verification</a> code to my mobile)</span>
              <div class="clear"></div>
              <button>Complete Order</button>
            </div>
          </form>
        </div>

        <div class="visual_details group">


          <div class="info adj_mar">
            <h3>Delivery Info</h3>
            <ul>
              <li class="customer">Anish Tripathi</li>
              <li>Tripathi Chambers</li>
              <li>245 Perin Nariman Street.</li>
              <li>Fort-Mumbai-1</li>
            </ul>
            <a href="todaysdeal.html" class="cancelorder">Cancel Order</a>
          </div>


          <div class="clear"></div>


        </div>

      </div> <!-- visual details ends-->


    </div><!-- payment ends -->
  </div>
</div>

<div class="pusher"></div>