<div class="content">
  <div class="success group">
    <div class="uniqueid">

      <span class="printer"><img src="images/print.jpg" /></span>Your unique order id is <b id="orderid">123456</b> <span>(Check your email for more details, if you still need help please Contact Us)</span>
    </div>

    <div class="order_des group">
      <p>Your order</p>
      <ul class="quantity">
        <li class="first">Quantity</li>
        <li >3</li>

      </ul>

      <ul class="itemlist">
        <li class="first">Description</li>
        <li >Sliders for Game Day: Brisket Short Rib and Classic</li>

      </ul>


    </div><!-- order_des ends-->

    <div class="deliverto">
      <p>Delivered to</p>
      <ul class="itemlist">
        <li class="first">Anish Tripathi</li>
        <li>Tripathi Chambers</li>
        <li>245 Perin Nariman St, </li>
        <li>Fort - Mumbai - 1</li>

      </ul>
    </div><!-- deliverto ends-->

    <div class="bill clear">
    </div><!-- bill ends-->

    <p>You are 25 meal points away from a free meal</p>

    <div class="outoff">
      <div class="score"></div>
    </div> <!-- bill ends-->





  </div><!-- success ends-->

</div>










<div id="popup_holder">

</div><!-- popup holder ends -->


<div id="form">
  <div class="holder">
    <div class="close"></div>
    <div class="mealsholder">
      <div class="mealdetails group">
        <p class="mealname">Sliders for Game Day: Brisket Short Rib and Classic</p>
        <div class="buy cost group">
          <div class="box">
            <p></p>
            <p>AED 10</p>
          </div>

          <div class="box">
            <p class="label">Quantity</p>
            <select><option>2</option></select>
          </div>

          <div class="box">
            <p class="label">Total</p>
            <p>AED 20</p>
          </div>
        </div><!-- buy cost ends-->
      </div>
    </div><!--meals holder ends-->

    <div class="memberpoint">
      <div class="earned">
        <p>You've earned</p>
        <p class="pointsearned">50</p>
        <p>Points with this meal</p>
        <p class="msg">Sign up to place your order</p>
      </div>
      <p>Already a Member? <b id="log"><a href="#">Login</a></b></p>
    </div>

    <p class="yo">Your order</p>





    <form class="group" id="loginform">
      <label>Login</label>
      <div class="clear"></div>
      <input type="text" value="email" rel="email"><br />
      <div class="clear"></div>
      <input type="password" value="password" rel="password"><br />
      <div class="clear"></div>
      <button class="login">Login</button><b class="toggle"><a href="#" id="forgotpassword">forgot password</a></b>

      <div class="forgotpasswordbox">
        <p class="notify">Please enter your email address below. We will send you an email to confirm your password.</p>
        <label>Email</label>
        <div class="clear"></div>
        <input type="text" value="email" rel="email"><br />
        <button id="submit">Submit</button>
      </div>
    </form>

    <form class="group" id="signupform">
      <p>New user?</p>
      <label>Email:</label><input type="text" ><br />
      <div class="clear"></div>
      <label>Password:</label><input type="password" ><br />
      <div class="clear"></div>
      <label>Confirm Password:</label><input type="password" ><br />
      <div class="clear"></div>
      <label>Street:</label><input type="text" ><br />
      <div class="clear"></div>
      <label>ZIP:</label><input type="text" ><br />
      <div class="clear"></div>
      <label>Phone Number:</label><input type="text" ><br />
      <div class="clear"></div>
      <button id="signup">Sign up</button>
    </form>
  </div><!-- holder ends -->

</div><!--form ends-->

<div class="pusher"></div>