<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>iWannaEat.com - Home</title>
<link rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/interaction.js"></script>
 <!-- twitter Social Button Tracking -->

</head>

<body>
<p class="remindersent"></p>
<div id="wrapper">
	<div id="header">
    	<div class="group">
 
           
            	<a href="/copywriter/dashboard"> <h1 class= "logo-copy logo_bus"> </h1></a>
           
            <div class="header_info">
                <!--<p class="activity friends"><a href="invitefriends.html" class="icons">Invite Friends</a></p>
                <p class="activity mobapp"><a href="mobileapps.html" class="icons">Mobile App</a></p>
                 <span id="signup">Sign up</span>-->
                <!--<p class="login"><a href="#" class="icons" id="login">Login</a></p>-->
                <div class="activity loggedinfo"><b><em><% if admin_logged_in? %>
          Logged in as <%= current_admin.email %>

          | <%= link_to("logout", admin_logout_url) %>
        <% else %>
           <%= link_to("admin login", admin_login_url) %> |
        <% end %></em></b>



                </div>
           </div>
        </div>
    </div><!-- header ends-->

  
      <%=yield%>

</div>
   <div id="footer">
    	<div class="content group">
        	<!--<div class="social group">
            	<span class="icons fb">
                	<a href="#"></a>
                </span>
                <span class="icons tw">
                	<a href="#"></a>
                </span>
            </div>-->
            <div class="footerlist group">
                <ul class="group bus">
                <!--    <li><a href="#">For Restaurant owners</a></li>
                    <li><a href="#">For Mobile</a></li>
                    <li><a href="#">About Us</a></li>-->
                    <!-- <li><a href="#">Press</a></li>-->
                 <!--   <li><a href="#">Careers</a></li>-->
                  	<li><a href="#">Contact iWannaEat.com</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li class="last"><a href="#">Terms</a></li>
                </ul>
                <p>&copy2011-2012 iWannaEat.com. All rights reserved</p>
            </div>
        </div>
    </div><!-- footer ends -->
</body>
</html>
