<div class="user p5 clickable" style="border-bottom:1px solid #c0c0c0" id="user<%= admin.id %>">
  <div class="small bold">
    <% if admin.superuser? %>
    <img src="/img/locked.png">
    <% elsif admin.admin? %>
    <img src="/img/admin.png">
    <% else  %>
    <img src="/img/owner.png">
    <% end %>
    <%= admin.email %>
  </div>
  <div class="clear">
    <div class="smallhint"><%= admin.role  %></div>
  </div>
  <% if admin.owner? %>
  <div>
    <% admin.restaurants.each do |r| %>
      <div class="smallhint ml5">- <%= r.name %></div>
    <% end %>
  </div>
  <% end %>

 
  
</div>
